:root{
  --mainfont : #111;
  --unused : #EEE;
  --used : #887;
}
html{
  height : 100%;
}
body{
  height : 100%;
}

#root{
  height:100%;
}
.wrapper{
  display : grid ;
  grid-template-areas: "hang" "word ""keyboard" "foot";
  grid-template-rows: 1fr 100px 200px 50px; 
  height:100%
}
.keyboard{
  grid-area:keyboard;
  display:grid;
  grid-template-columns: repeat(13,1fr) ;
  grid-template-rows: 50px 50px;
  grid-gap: 5px;
  margin : 3em;
}
.letterkey{
  font-weight: bold;
  border: 2px solid var(--mainfont);
  border-radius: 5px;
  cursor: pointer;
  font-size: 2em;
  font-family: fantasy; 
  text-align: center;
}
.unused{
  background-color: var(--unused);
  color : var(--mainfont);
}
.used{
  background-color: var(--used);
  color:var(--unused);
}

.hangman{
  grid-area: hang;
}
.word{
  grid-area: word;
  display:flex;
  flex-direction: row;
}
.letter{
  font-size: 3em;
  margin: 0.2em;
}

footer {
  grid-area: foot;
  background-color: cadetblue;
}